<launch>
<rosparam file="$(find robotican_hardware_interface)/config/controllers.yaml" command="load"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true" respawn_delay="5" output="screen" args="robot_state_controller rotation1_position_controller" />
		
</launch>
