<?xml version="1.0"?>
	<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="komodo_robot" description="Komodo Robot">
	<xacro:property name="M_PI" value="3.1415926535897931" />
	
	<!--    BASE      -->
	<xacro:include filename="$(find robotican_komodo)/description/models/komodo_base.xacro" />
	<!--      END          -->

  <!--    TORSO     -->
  <xacro:include filename="$(find robotican_komodo)/description/models/komodo_torso.xacro" />
  <!--     END      -->
	

	
</robot>
