<?xml version="1.0"?>
<launch>
	<!--
		roslaunch robotican_armadillo armadillo.launch have_map_file:=true map_file:="`rospack find robotican_common`/maps/building.yaml" world_name:="`rospack find robotican_common`/worlds/building.sdf" x:=0.0 y:=-1.0 lidar:=true amcl:=true move_base:=true gazebo:=true
	-->

    <arg name="rviz_display" default="$(find robotican_demos)/config/amcl.rviz" />
    <node name="rviz_node" pkg="rviz" type="rviz" args="-d $(arg rviz_display)"/>

 
</launch>

