<?xml version="1.0"?>
<launch>

  
    <include file="$(find robotican_armadillo)/launch/armadillo.launch">
    <arg name="kinect2" value="true"/>     
      <arg name="moveit" value="true"/>
  </include>
  
  <node name="pick__and_place_node" pkg="robotican_demos" type="pick_and_place" output="screen" required="true"/>  
  
  
    <node name="find_object_node" pkg="robotican_common" type="find_objects_node" output="screen">
    <param name="~object_extra_depth" value="0.03"/>
    <param name="~object_frame" value="object_frame"/>
    <param name="~depth_topic" value="/kinect2/qhd/points"/>
  </node>
  
  <node name="object_view" pkg="rqt_image_view" type="rqt_image_view" >
    <remap from="image" to="demo_pick_node/result" />
  </node>
  
</launch>

