<?xml version="1.0"?>
<launch>

 <arg name="gazebo" default="false"/>


  <group if="$(arg gazebo)">
    <include file="$(find robotican_armadillo)/launch/armadillo.launch">

    <arg name="gazebo" value="true"/> 
   <arg name="world_name" value="$(find robotican_common)/worlds/objects_on_table.world"/> 
    <arg name="x" value="0.8"/>
    <arg name="y" value="-0.35"/>
    <arg name="Y" value="0"/>

 <arg name="sr300" value="false"/> 
    <arg name="kinect2" value="true"/>      
      <arg name="moveit" value="true"/>
  </include>
 </group>
  
 <group unless="$(arg gazebo)">

    <include file="$(find robotican_armadillo)/launch/armadillo.launch">
      <arg name="sr300" value="false"/>
    <arg name="kinect2" value="true"/>       
      <arg name="moveit" value="true"/>
  </include>

</group>


<node name="pick_and_place_node" pkg="robotican_demos" type="pick_and_place" output="screen" required="true"> 
  <param name="~object_name_arm_camera" value="sr300_object"/> 
 <param name="~object_name_head_camera" value="kinect2_object"/> 
    <param name="~wrist_distance_from_object" value="0.05"/>
   <param name="~MaxAccelerationScalingFactor" value="0.1"/>
    <param name="~MaxVelocityScalingFactor" value="0.1"/>
  </node>
  
    <node name="find_object_node_kinect2" pkg="robotican_common" type="find_objects_node" output="screen">
    <param name="~object_name" value="kinect2_object"/>
    <param name="~depth_topic" value="/kinect2/qhd/points"/>
  </node>
  

  <node name="object_view_kinect2" pkg="rqt_image_view" type="rqt_image_view" >
    <remap from="image" to="find_object_node_kinect2/result" />
  </node>

 <!--  

    <node name="find_object_node_sr300" pkg="robotican_common" type="find_objects_node" output="screen">
    <param name="~object_name" value="sr300_object"/>
    <param name="~depth_topic" value="/sr300/depth/points"/>
  </node>

 <node name="object_view_sr300" pkg="rqt_image_view" type="rqt_image_view" >
    <remap from="image" to="find_object_node_sr300/result" />
  </node>
  -->
  
</launch>

