<?xml version="1.0"?>
<launch>
  
   <arg name="gazebo" default="false"/>
  
  
   <include file="$(find robotican_demos)/launch/find_objects.launch"> 
     <arg name="gazebo" value="$(arg gazebo)"/>
     <arg name="armadillo" value="true"/>
    </include>
  
  <node name="pan_tilt_object_tracking_node" pkg="robotican_common" type="pan_tilt_object_tracking_node" output="screen"/>
    
</launch>

