<?xml version="1.0"?>
<launch>
  
  <arg name="gazebo" default="true"/>
  <arg name="armadillo" default="true"/>
  <arg name="komodo" default="false"/>
  
  <group if="$(arg armadillo)" >
    <group if="$(arg gazebo)">
      
      <include file="$(find robotican_armadillo)/launch/armadillo.launch">
        <arg name="gazebo" value="true"/>
        <arg name="world_name" value="$(find robotican_common)/worlds/objects_on_table.world"/> 
        <arg name="x" value="0.0"/>
        <arg name="y" value="0.0"/>
        <arg name="Y" value="0"/>
        <arg name="kinect2" value="true"/>  
      </include>
    </group>
    
    <group unless="$(arg gazebo)">
      <include file="$(find robotican_armadillo)/launch/armadillo.launch"> 
        <arg name="x" value="0.0"/>
        <arg name="y" value="0.0"/>
        <arg name="Y" value="0"/>
        <arg name="kinect2" value="true"/>   
        <arg name="rqt" value="true"/> 
      </include>
    </group>
    
   
    
    
      <node name="object_view" pkg="rqt_image_view" type="rqt_image_view" >
      <remap from="image" to="find_object_node/result" />
    </node>
  </group>

    <group if="$(arg komodo)" >
    <group if="$(arg gazebo)">
      
      <include file="$(find robotican_komodo)/launch/komodo.launch">
        <arg name="gazebo" value="true"/>
        <arg name="world_name" value="$(find robotican_common)/worlds/objects_on_table.world"/> 
        <arg name="x" value="0.0"/>
        <arg name="y" value="0.0"/>
        <arg name="Y" value="0"/>
        <arg name="depth_camera" value="true"/>  
      </include>
    </group>
    
    <group unless="$(arg gazebo)">
      <include file="$(find robotican_komodo)/launch/komodo.launch"> 
        <arg name="x" value="0.0"/>
        <arg name="y" value="0.0"/>
        <arg name="Y" value="0"/>
        <arg name="depth_camera" value="true"/>   
        <arg name="rqt" value="true"/> 
      </include>
    </group>
    
    <node name="find_object_node" pkg="robotican_common" type="find_objects_node" output="screen">
      <param name="~object_name" value="object"/>
    <param name="~depth_topic" value="/depth_camera/depth_registered/points"/>

      <rosparam file="$(find robotican_demos)/config/red_object.yaml" command="load"/>
    </node>
    
    
      <node name="object_view" pkg="rqt_image_view" type="rqt_image_view" >
      <remap from="image" to="find_object_node/result" />
    </node>
  </group>


  
</launch>

