<?xml version="1.0"?>
<launch>


<!-- Debug -->  
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Verbose mode -->
  <arg name="verbose" default="false" />
  <arg unless="$(arg verbose)" name="command_args" value="" />
  <arg     if="$(arg verbose)" name="command_args" value="--verbose" />


  <!-- Start the test -->
  <node name="moveit_simple_grasps_test" launch-prefix="$(arg launch_prefix)" pkg="moveit_simple_grasps" 
	type="moveit_simple_grasps_test" output="screen" args="$(arg command_args)">
    <param name="arm" value="arm"/>
    <rosparam command="load" file="$(find robotican_armadillo)/config/grasp_data.yaml"/>    
  </node>  
  
</launch>


