<?xml version="1.0"?>
<launch>

  <!-- roslaunch robotican_armadillo armadillo.launch moveit:=true sr300:=true x:=0.8 y:=-0.35 world_name:="`rospack find robotican_common`/worlds/objects_on_table.world" gazebo:=true -->
 


    <node name="pick_and_place_node" pkg="robotican_demos" type="pick_and_place" output="screen" required="true"> 
      <param name="~object_name" value="sr300_object"/> 
      <param name="~wrist_distance_from_object" value="0.05"/>
      <param name="~MaxAccelerationScalingFactor" value="0.1"/>
      <param name="~MaxVelocityScalingFactor" value="0.1"/>
      <param name="~start_position_name" value="pre_grasp2"/>
    </node>


    <node name="find_object_node_sr300" pkg="robotican_common" type="find_objects_node" output="screen">
      <param name="~object_name" value="sr300_object"/>
    <param name="~object_r" value="0.025"/>
    <param name="~object_h" value="0.15"/>
    <param name="~object_id" value="can"/>
    <!-- <param name="~depth_topic" value="/kinect2/qhd/points"/> -->
     <param name="~depth_topic" value="/sr300/depth/points"/> 
    <!--  <param name="~depth_topic" value="/depth_camera/depth_registered/points"/> -->
    <rosparam file="$(find robotican_demos)/config/red_object.yaml" command="load"/>

    </node>
    

    <node name="object_view_sr300" pkg="rqt_image_view" type="rqt_image_view" >
      <remap from="image" to="find_object_node_sr300/result" />
    </node>
    


  
</launch>

